<footer>
    Copyright © 2003-2017 WinWorld. Powered by <a href="https://github.com/WinWorldPC/adventure">Adventure</a>.
    <!-- Put abuse, DMCA, etc. links here when content is written -->
</footer>
</body>
</html>