<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- TODO: Move to linked stylesheet in /res/ -->
    <link rel="stylesheet" href="/res/css/stickyFooter.css" />
    <title>WinWorld: <%= title %></title>
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">WinWorld</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <%# Hardcode non-pages %>
                <li class="nav-item">
                    <a class="nav-link" href="/library">Library</a>
                </li>
                <% Object.keys(sitePages).forEach(function (i, n, a) { %>
                <% if (sitePages[i].show) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/<%= i %>"><%= sitePages[i].title %></a>
                </li>
                <% } %>
                <% }); %>
            </ul>
        </div>
    </nav>
    <div class="container mt-2">
    <!-- h1 with title used to go here -->