<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/library">Library</a>
        <!-- Put links to landing page, about, IRC, etc. when content is written/in place. -->
    </nav>
    <h1><%= title %></h1>