<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Library</title>
</head>
<body>
    <h1>Library</h1>
    <ul>
        <% products.forEach(function(i, n, a) {%>
            <li><a href="/product/<%= i.Slug %>"><%= i.Name %></a></li>
            <!-- TODO: Show metadata, paginate -->
        <% }); %>
    </ul>
    <% for (var i = 1; i <= pages; i++) { %>
        <a href="/library?page=<%= i %>"><%= i %></a>
    <% } %>
</body>
</html>