<%- include("head", {title: "Login"}) %>
<h1>Login</h1>
<form method="post" action="/user/login?target=<%= target %>">
    <div class="form-group">
        <label for="username">Username</label>
        <input required type="text" class="form-control" id="username" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input required type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<%- include("foot") %>