<%- include("head", {title: "Forgot password"}) %>
<h1>I forgot my password</h1>
Fill in your email address and an email will be send to you on how to create a new password for your account.
<form method="post" action="/user/recoverpw">
    <div class="row">
        <div class="form-group col">
            <label for="email">Email</label>
            <input required type="text" class="form-control" id="email" name="email" placeholder="Email">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
Requests will expire after use or a day later.
<%- include("foot") %>