<%- include("head", {title: "Orphaned releases"}) %>
<h1>Mirrors</h1>
<a class="btn btn-warning" href="/sa/createMirror">Create mirror</a>
<ul>
    <% mirrors.forEach(function (i, n, a) { %>
    <li>
        <% if (i.IsOnline == "False") { %>
        <del>
        <% } %>
        <a href="/sa/mirror/<%= i.MirrorUUID %>"><%= i.MirrorName %></a>
        <% if (i.IsOnline == "False") { %>
        </del>
        <% } %>
    </li>
    <% }) %>
</ul>
<%- include("foot") %>