<%- include("head", {title: "Search Help"}) %>
<h1>Help with Search</h1>
<p>
<%= config.name %>'s search engine allows you to find just the items you're looking for by combining multiple search fields. Website search features don't usually get in-depth documentation, but we figure you probably have a very specific idea in mind of what files you're looking for, and with these features you should be able to quickly locate them.
</p>
<p>You can assemble a search like <em>"apps made by Microsoft between 1993 and 1997 with Paint in the name"</em>, or <em>"everything Adobe made in 1994"</em> and the engine will produce those exact results.</p>
<p>All fields are optional as long as at least one is filled in.</p>
<h2>Title & Description</h2>
<p>Anything you enter in "<strong>Title</strong>" will search the <strong>Product Title</strong> field, and if you check the "<strong>Search description</strong>" box it'll search that too.</p>
<p>This is fulltext search, meaning it works sort of like Google - just type in what you want to find and if the engine finds any part of it in either field, it'll rank that result appropriately. So, search for <em>"Paint"</em>, and an app called <em>"Microsoft Paint"</em> will rank higher than <em>"Visionsoft Ink and Paint,"</em> but both will come up.</p>
<p>You can also put some symbols around words (plus anything you find <a href="https://dev.mysql.com/doc/refman/8.0/en/fulltext-boolean.html" target="_blank">here</a>):</p>
<ul>
<li><strong>-</strong> before a word to ensure it <em>doesn't</em> match, e.g. <strong>-Microsoft</strong></li>
<li><strong>+</strong> before a word to ensure it <em>does</em> match, e.g. <strong>-SGI</strong></li>
<li><strong>*</strong> after a word for a partial-word search, e.g. <strong>Micro*</strong></li>
</ul>
</p>
<h2>Vendor</h2>
<p>Enter a vendor name here (e.g. "<em>Microsoft</em>") to limit to products from that vendor. This is an exact-text match. Some programs might not have a vendor value.</p>
<p>Remember that some software changes vendors over time, so if you look up "<em>Novell</em>", "<em>SSI</em>" and "<em>Corel</em>", all will find <em>Wordperfect</em>.</p>
<h2>Year</h2>
<p>Enter a <strong>starting year</strong> and/or <strong>ending year</strong> to set a bracket on when software was released. To limit to just a single year, put the same number in both fields. To search for "1993 and afterwards" just put 1993 in the starting field.</p>
<p>Remember that each program can have multiple releases, so if you search for 1997-1997, an app that had a release in 1993, 1994, <em>and</em> 1997 will come up.</p>
<h2>Platform / Tags</h2>
<p>Both these fields are "OR"ed, meaning if you select any number of tags, items will be returned if they match __any__ of the tags you selected.</p>
<%- include("foot") %>