<%- include("head", {title: "Forum"}) %>
<style>
    @media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
</style>
<script type="text/javascript" src="<%= config.vanillaBaseUrl %>/js/embed.js"></script>
<noscript>
    Please enable JavaScript to view the <a href="http://vanillaforums.com/?ref_noscript">discussions powered by Vanilla.</a>
</noscript>
<div class="vanilla-credit">
    <a class="vanilla-anchor" href="http://vanillaforums.com">
        Discussions by <span class="vanilla-logo">Vanilla</span>
    </a>
</div>
<%- include("foot") %>