#preseticons {
    overflow-x: scroll;
    white-space: nowrap;
    border: 1px solid lightgray;
    border-radius: 6px;
}
.preset-icon:hover:active {
    background-color: #8fabc4;
}
.preset-icon:hover {
    background-color: #e0f0ff;
}
.preset-icon {
    cursor: pointer;
    padding: 5px;
    border: 2px solid rgba(0,0,0,0);
}
.preset-icon.selected {
    background-color: #b9deff;
    border: 2px solid #aaa;
}
.icon-wrapper {
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid lightgrey;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    height: 100%;
}
.icon-wrapper small {
    display: block;
}
#new-icon {
    min-width: 46px;
    min-height: 46px;
}
